<div class="alert alert-primary" role="alert">
    <strong>Bienvenido!</strong> Esta es una lista <strong>en tiempo real</strong> de nuestros productos.
</div>

<!-- Section-->
<main class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div id="tiemporeal" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        </div>
    </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>